{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>The Seabird Life History Database</h1>
    <p class="lead">This application is for exploring and entering data into the seabird life history database for Maureen Lynch.</p>
    <p><a href="http://www.lynchlab.com" class="btn btn-primary btn-large">Lynch Lab &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Clicking below will allow you to log in to the seabird life history database 
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Log In &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search articles on Google</h2>
        <p>This link will bring you to Google Scholar, where you can search for relevant articles on seabird life history</p>
        <p><a class="btn btn-default" href="http://scholar.google.com">Google Scholar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out databases</h2>
        <p>Clicking on this link will bring you to the Seabird Information Network on Seabirds.net, which will allow you to locate other seabird databases</p>
        <p><a class="btn btn-default" href="http://www.seabirds.net/seabirdinfonetwork.html">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
