<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <!-- NOTE - ALL html files must be saved as utf-8 without encoding to avoid problems with layout --> 
    <meta charset="UTF-8" />
    <meta name="description" content="MAPPPD is an open access decision support tool to help understand penguin population dynamics in the Antarctic" />       
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static "app/content/site.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>             
    {% block title %}
    {% endblock title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>    
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>        
    <script src="https://code.highcharts.com/highcharts.js"></script>    
    {% block extrascripts %}
    {% endblock extrascripts %}
           
</head>

<body>
<div class="top">


</div>
<div class="container body-content">
{% block content %}{% endblock %}
</div>
    
</body>
</html>
