<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load specialchars %}
<head>
             
</head>

<body>
{% if user.is_authenticated %}
    <div class="row">
        
        <div class="col-md-12"><hr /></div>
            <div id="speciesinfo">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Sci Name</th>
                        <th>Alias</th>
                        <th>IUCN</th>
                        <th>Year assessed</th>
                        <th>Populn trend</th>
                        <th>Coloniality</th>
                        <th>Breeding dist</th>
                        <th>Nest locations</th>
                        <th>Hatchling type</th>
                        <th>Other Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in LIST %}
                        <tr>
                            <td>{{x.common_name_1}}</td>
                            <td>{{x.species_id}}</td>
                            <td>{{x.common_name_2}}</td>
                            <td>{{x.iucn_status}}</td>
                            <td>{{x.year_assessed}}</td>
                            <td>{{x.population_trend}}</td>
                            <td>{{x.coloniality}}</td>
                            <td>{{x.breeding_dist}}</td>
                            <td>{{x.nest_locations}}</td>
                            <td>{{x.hatchling_type}}</td>
                            {% with "#"|addstr:x.species_id|addstr:"tar" as MODTARG %}                                            
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target={{MODTARG}} id={{x.species_id}} onclick="gettraits()"><span class="glyphicon glyphicon-list-alt"></span> View Data</button></td>
                            {% endwith %}
                        </tr>
                    </tbody>
                                                                                                                                                                               
                    {% endfor %}
                </table>
            </div>

    </div>

{% for x in LIST %}
    {% with x.species_id|addstr:"tar" as MOD %}
    <div class="modal fade" id={{ MOD }} role="dialog" >
    {% endwith %}
        <div class="modal-dialog">
    
                                                    <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">life history data for {{x.common_name_1}}</h4>
        </div>
        <div class="modal-body">
            {% with x.species_id|addstr:"div" as DIVID %}
            <div id="{{DIVID}}"></div>
            {% endwith %}                                                                                                                    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
        </div>
      
        </div>
    </div>                                        
                                        
                                        

{% endfor %}


{% else %}
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in... please <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
    <p><a class="btn btn-default" href="/login">Log In &raquo;</a></p>
{% endif %}
    
</body>
</html>
