<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load crispy_forms_tags %}

<head>    
<script type="text/javascript">               
        
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                size: 10,
                width: '75%',
                
            });            
        });

        $(function () {
            $('#submit-id-dbpostother').click(function (e) {
                e.preventDefault()

                var species = $("#id_species").val();
                var trtid = $("#id_trtid").val();
                var username = $("#id_username").val();
                var dt = $("#id_dt").val();
                var traitopt = $("#id_traitopt").val();
                var citation = $("#id_citation").val();
                var traits = $("#id_traits").val();
                var comments = $("#id_comments").val();
                var study_location = $("#id_study_location").val();
                var study_year = $("#id_study_year").val();

                
                $.ajax({
                    type: "POST",
                    url: "/dbPostother",
                    data: { species: species, trtid: trtid, username: username, dt: dt, traitopt: traitopt, citation: citation, traits: traits, comments: comments, study_year: study_year, study_location: study_location },
                    success: function () {
                        var dat = '<h3 style="text-align:center"><span class="glyphicon glyphicon-ok" style="color:green"></span> Data saved...  </h3>'
                        var clr = '<div class="col-md-3" style="text-align:center"><button class="btn btn-danger" onclick="CallIn('.concat("'/dbaddother/','.viewwindow')").concat('"').concat('><span class="glyphicon glyphicon-fire"></span> Clear sheet &raquo;</button></div>')

                        $('#savesuccess').html(dat);
                        $('#clrbtn').html(clr);
                        var t = parseInt(trtid) + 1
                        $("#id_trtid").val(t)
                    },
                    error: function () {                        
                        if (species == "Select by scientific name") {
                            $('#specieslab').css('color', 'red');
                            $('#specieslab').text('Select a species *');
                        };
                        if (traitopt == "Select value") {                           
                            $('#traitoptlab').css('color', 'red');
                            $('#traitoptlab').text('Select a value *');
                        };
                        if (citation == "Select citation") {
                            $('#citationlab').css('color', 'red');
                            $('#citationlab').text('Select a citation *');
                        };                        
                    }
                });                
                return false;
            });
        });

    </script>           
</head>

<body>


{% if user.is_authenticated %}
{% if user.is_staff %}
    <div class="row" style="background-color:rgba(255,255,255,0.95)">
        <div class="col-md-1">
            <p><a href="/lifehistory" class="btn btn-primary btn-large">&laquo; Back</a></p>
        </div>
        <div class="col-md-6" style="text-align:center"><button class="btn btn-info" onclick="CallIn('/dbadd/','.viewwindow')"><span class="glyphicon glyphicon-plus"></span> Add numeric traits &raquo;</button></div>                      
        <div class="col-md-3" id="clrbtn"></div>
        <div class="col-md-12">
            {% crispy modelform %}{% csrf_token %}
        </div>
        
             
    </div>

{% else %}
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in as staff <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
{% endif %}
{% else %} 
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in... please <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
    <p><a class="btn btn-default" href="/login">Log In &raquo;</a></p>
{% endif %}    
</body>
</html>
