<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load crispy_forms_tags %}

<head>    
<script type="text/javascript">               
        
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                size: 10,
                width: '75%',
                
            });
        });        
        $(function () {
            $('#submit-id-dbpost').click(function (e) {
                e.preventDefault()

                var species = $("#id_species").val();
                var traits = $("#id_traits").val();
                var units = $("#id_units").val();
                var uncertainty = $("#id_uncertainty").val();
                var mean = $("#id_mean").val();                
                var range0 = $("#id_range_0").val();                
                var range1 = $("#id_range_1").val();
                var citation = $("#id_citation").val();
                var feature_id = $("#id_feature_id").val();
                var username = $("#id_username").val();
                var dt = $("#id_dt").val();
                var comments = $("#id_comments").val();
                var study_location = $("#id_study_location").val();
                var study_year = $("#id_study_year").val();
                                                

                $.ajax({
                    type: "POST",
                    url: "/dbPost",
                    data: { species: species, traits: traits, units: units, uncertainty: uncertainty, mean: mean, range0: range0, range1: range1, citation: citation, feature_id: feature_id, username: username, dt: dt, comments: comments, study_year: study_year, study_location: study_location },
                    success: function () {
                        var dat = '<h3 style="text-align:center"><span class="glyphicon glyphicon-ok" style="color:green"></span> Data saved...  </h3>'
                        var clr = '<div class="col-md-3" style="text-align:center"><button class="btn btn-danger" onclick="CallIn('.concat("'/dbadd/','.viewwindow')").concat('"').concat('><span class="glyphicon glyphicon-fire"></span> Clear sheet &raquo;</button></div>')

                        $('#savesuccess').html(dat);
                        $('#clrbtn').html(clr);
                        var t = parseInt(feature_id) + 1
                        $("#id_feature_id").val(t)
                    },
                    error: function () {                        
                        if (species == "Select by scientific name") {
                            $('#specieslab').css('color', 'red');
                            $('#specieslab').text('Select a species *');
                        };

                        if (traits == "Select trait to add") {
                            $('#traitlab').css('color', 'red');
                            $('#traitlab').text('Select a trait *');
                        };
                        if (units == "Select units") {
                            $('#unitlab').css('color', 'red');
                            $('#unitlab').text('Select units *');
                        };
                        if (uncertainty == "Select uncertainty") {
                            $('#uncertaintylab').css('color', 'red');
                            $('#uncertaintylab').text('Select uncertainty *');
                        };
                        if (citation == "Select citation") {
                            $('#citationlab').css('color', 'red');
                            $('#citationlab').text('Select a citation *');
                        };
                        $('#savesuccess').html('<h4 style="color:red"> There is an error on the page, data not saved... </h4>')
                        
                    }
                });
                return false;
            });
        });

    </script>           
</head>

<body>
{% if user.is_authenticated %}
{% if user.is_staff %}
    <div class="row" style="background-color:rgba(255,255,255,0.95)">
        <div class="col-md-1">
            <p><a href="/lifehistory" class="btn btn-primary btn-large">&laquo; Back</a></p>
        </div>
        <div class="col-md-6" style="text-align:center"><button class="btn btn-info" onclick="CallIn('/dbaddother/','.viewwindow')"><span class="glyphicon glyphicon-plus"></span> Add character traits &raquo;</button></div>      
        <div class="col-md-3" id="clrbtn"></div>
        <div class="col-md-12">
            {% crispy modelform %}{% csrf_token %}
        </div>        
    </div>

{% else %}
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in as staff <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
{% endif %}
{% else %} 
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in... please <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
    <p><a class="btn btn-default" href="/login">Log In &raquo;</a></p>
{% endif %}    
</body>
</html>
