<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load specialchars %}
<head>
<script type="text/javascript">               
        
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                size: 10,
                width: '75%',
                
            });
        });        
        (function ($) {
            $(function () {
                $('.table-expandable').each(function () {
                    var table = $(this);
                    table.children('thead').children('tr').append('<th></th>');
                    table.children('tbody').children('tr').filter(':odd').hide();
                    table.children('tbody').children('tr').filter(':even').click(function () {
                        var element = $(this);
                        element.next('tr').toggle('slow');
                        element.find(".table-expandable-arrow").toggleClass("up");
                    });
                    table.children('tbody').children('tr').filter(':even').each(function () {
                        var element = $(this);
                        element.append('<td><div class="table-expandable-arrow"></div></td>');
                    });
                });
            });
        })(jQuery);


    </script>
              
</head>

<body>
{% if user.is_authenticated %}
    <div class="row" style="background-color:rgba(255,255,255,0.95)">
        <div class="col-md-1">
            <p><a href="/lifehistory" class="btn btn-primary btn-large">&laquo; Back</a></p>
        </div>

        <div class="col-md-10"><h3 style="text-align:center">Select one of the following to query database</h3></div>

        <div class="col-md-1"></div>
        <div class="col-md-12"></div>
        
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <select class="selectpicker show-tick" data-live-search="true" name="commonSearch" id="commonSearch">
                <option>Select by common name</option>
                {% for x in commonnames %}                            
                    <option value="{{x.species_id}}">{{x.common_name}}</option>                            
                {% endfor %}   
            </select><button type="button" class="btn btn-success" id="csbut" onclick="cs()"><span class="glyphicon glyphicon-search"></span> Search</button>
         
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">            
            <select class="selectpicker show-tick" data-live-search="true" name="specSearch" id="specSearch">
                <option>Select by scientific name</option>
                {% for x in species %}                            
                    <option value="{{x.species_id}}">{{x.species_id}}</option>                            
                {% endfor %}   
            </select><button type="button" class="btn btn-success" id="ssbut" onclick="ss()"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-12"><br /></div>


        <div class="col-md-1"></div>
        <div class="col-md-4">
            <select class="selectpicker show-tick" data-live-search="true" name="orderSearch" id="orderSearch">
                <option>Select by order</option>
                {% for a in orders %}                            
                    <option value="{{ a|ch }}">{{ a|ch }}</option>                            
                {% endfor %}   
            </select><button type="button" class="btn btn-success" id="osbut" onclick="os()"><span class="glyphicon glyphicon-search"></span> Search</button>
         
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">            
            <select class="selectpicker show-tick" data-live-search="true" name="familySearch" id="familySearch">
                <option>Select by family</option>
                {% for b in families %}                            
                    <option value="{{ b|ch }}">{{ b|ch }}</option>                            
                {% endfor %}   
            </select><button type="button" class="btn btn-success" id="fsbut" onclick="fs()" ><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
        <div class="col-md-1"></div>
    
        <div class="col-md-12"><br /></div>
        <div class="col-md-4" style="text-align:center"><div id="downloadnumeric"></div></div>
        <div class="col-md-4" style="text-align:center"><div id="downloadcharacter"></div></div>
        <div class="col-md-4" style="text-align:center"><div id="downloadcitations"></div></div>
    </div>
    
    <div id="searchresults"></div>




 {% else %}
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in... please <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
    <p><a class="btn btn-default" href="/login">Log In &raquo;</a></p>
{% endif %}   
</body>
</html>
