<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load specialchars %}
<head>
             
</head>

<body>
{% if user.is_authenticated %}
    <div class="row" style="background-color:rgba(255,255,255,0.95)">
        
        <div class="col-md-12"><hr /></div>
            <div id="speciesinfo">
                <table class="table table-condensed table-expandable" style="border-collapse:collapse">
                    <thead>
                    <tr>
                        <th>Common Name</th>
                        <th>Sci. Name</th>
                        <th>IUCN status</th>
                        <th>Population trend</th>
                        <th>Mass / Morphology</th>
                        <th>Life History</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in CommName %}
                        <tr>
                            <td>{{x.common_name}}</td>
                            <td>{{x.species_id}}</td>
                            <td>{{x.species_id|ICUNstat}}</td>
                            <td>{{x.species_id|ICUNtrend}}</td>
                            {% with "#"|addstr:x.species.species_id_html|addstr:"num" as IDVAL1 %}
                            {% with "#"|addstr:x.species.species_id_html|addstr:"char" as IDVAL2 %}
                            {% with x.species.species_id_html|addstr:"num" as IDV1 %}
                            {% with x.species.species_id_html|addstr:"char" as IDV2 %}
                            {% with x.species_id|addstrnospace:"_nid" as numID %}
                            {% with x.species_id|addstrnospace:"_cid" as chaID %}

                            <td><button id="{{numID}}" class="btn btn-primary" onclick="getnumtr()"><span class="glyphicon glyphicon-eye-open"></span> View</button></td>
                            <td><button id="{{chaID}}" class="btn btn-primary" onclick="getchartr()"><span class="glyphicon glyphicon-eye-open"></span> View</button></td>                            
                        </tr>
                        <tr>
                            <td colspan="3" class="hiddenRow">                                                            
                                <div class="collapse" id={{IDV1}}></div>                                
                            </td>
                            <td colspan="3" class="hiddenRow">                                
                                <div class="collapse" id={{IDV2}}><p>value here</p></div>                               
                            </td>                            
                        </tr>
                    </tbody>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}                                                                                                                                                           
                    {% endfor %}
                </table>
            </div>

    </div>



{% else %}
    <div class="row">
        <div class="col-md-12">
            <h2> You are not logged in... please <a href="{% url 'login' %}">log in</a> to continue...</h2>            
        </div>
    </div>
    <p><a class="btn btn-default" href="/login">Log In &raquo;</a></p>
{% endif %}
    
</body>
</html>
