<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <!-- NOTE - ALL html files must be saved as utf-8 without encoding to avoid problems with layout --> 
    <meta charset="UTF-8" />
    <meta name="description" content="The Seabird Life History Database is for exploring life history data on seabird biology" />       
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">    
     
    <link rel="stylesheet" href="{% static "app/content/site.css" %}" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>             
    {% block title %}
    {% endblock title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>          
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js "></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     
    <script src="{% static "app/scripts/OtherScripts.js" %}"></script>    
    {% block extrascripts %}
    {% endblock extrascripts %}
           
</head>

<body>
<div class="top">
    
    {% if user.is_authenticated %}
    <div class="user"><p style="color:#ffffff">You are logged in as <span style="color:#ffcc00">{{user.username}}</span> on {{day}}/{{month}}/{{year}}</p></div>
    <a href="/">Home</a>
    
    <div class="logout"><a class="btn btn-default" href="/logout">Log Out &raquo;</a></div> 
    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span> Login</a>
    {% endif %}


</div>
<div class="container body-content">
{% block content %}{% endblock %}
</div>
    
</body>
</html>
